# Ignore build artifacts
dist/
build/

# Ignore Python bytecode
src/__pycache__/
*.egg-info/

# pyinstall files
main.spec

# swap files
*.swp

old/
scrap_paper.txt
test.sh
src/oldmain.py
src/arrays_and_dicts.py
src/lgcy_arts.py

# micropython
micropython/

# personal stuff
nohup.out
.venv/
uv.lock

# apple
.DS_Store

# temp
temp/
chats/